{% extends "layout.html" %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block title %}About us{% endblock %}

{% block content %}


<style>

	.coaches{
		width : 60%;
	}

	.officers{
		width: 90%;

	}

	.header{
		margin: 50px;
	}

	.shadow{
		box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
	}


</style>

<img src="/static/wrestling_6.jpg" width = 100% height = "600px">
<div class = "header">
	<h1 align = "center" margin = "10px">Coaches</h1>
</div>


<div align = "center">
	<div class="card-deck coaches">
	  <div class="card shadow">
	  	<div class = "card-header">
	  		Head Coach
	  	</div>
	    <img class="card-img-top" src="/static/headshot1.jpg" alt="Card image cap">
	    <div class="card-body" align = "left">
	      <h3 class="card-title">First Last</h3>
	      <hr>
	      <p>Description of accomplishments and past history</p>
	      <h6>Contact Info: </h6>
	      <a href="mailto:randomemail@email.com">randomemail@email.com</a>
	      <br>
	      (123)456-7890    	
	    </div>
	  </div>
	  <div class="card shadow">
	  	<div class = "card-header">
	  		Head Coach
	  	</div>
	    <img class="card-img-top" src="/static/headshot1.jpg" alt="Card image cap">
	    <div class="card-body" align = "left">
	      <h3 class="card-title">First Last</h3>
	      <hr>
	      <p>Description of accomplishments and past history</p>
	      <h6>Contact Info: </h6>
	      <a href="mailto:randomemail@email.com">randomemail@email.com</a>
	      <br>
	      (123)456-7890    	
	    </div>
	  </div>
	</div>
</div>	

<div class = "header">
	<h1 align = "center" margin = "10px">Officers</h1>
</div>  

<div align = "center">
	<div class="card-deck officers">
	  <div class="card shadow">
	  	<div class = "card-header">
	  		Head Coach
	  	</div>
	    <img class="card-img-top" src="/static/headshot1.jpg" alt="Card image cap">
	    <div class="card-body" align = "left">
	      <h3 class="card-title">First Last</h3>
	      <hr>
	      <p>Description of accomplishments and past history</p>
	      <h6>Contact Info: </h6>
	      <a href="mailto:randomemail@email.com">randomemail@email.com</a>
	      <br>
	      (123)456-7890    	
	    </div>
	  </div>
	  <div class="card shadow">
	  	<div class = "card-header">
	  		Head Coach
	  	</div>
	    <img class="card-img-top" src="/static/headshot1.jpg" alt="Card image cap">
	    <div class="card-body" align = "left">
	      <h3 class="card-title">First Last</h3>
	      <hr>
	      <p>Description of accomplishments and past history</p>
	      <h6>Contact Info: </h6>
	      <a href="mailto:randomemail@email.com">randomemail@email.com</a>
	      <br>
	      (123)456-7890    	
	    </div>
	  </div>
	  <div class="card shadow">
	  	<div class = "card-header">
	  		Head Coach
	  	</div>
	    <img class="card-img-top" src="/static/headshot1.jpg" alt="Card image cap">
	    <div class="card-body" align = "left">
	      <h3 class="card-title">First Last</h3>
	      <hr>
	      <p>Description of accomplishments and past history</p>
	      <h6>Contact Info: </h6>
	      <a href="mailto:randomemail@email.com">randomemail@email.com</a>
	      <br>
	      (123)456-7890    	
	    </div>
	  </div>
	</div>
</div>		





{% endblock %}
